    <footer class="py-4 mt-5 border-top">
        <div class="container d-flex justify-content-between align-items-center">
             <div>
                <img src="URL_DO_SEU_LOGO_ESQUERDO" alt="Logo esse NIB" height="30">
                <p>© 2025 CBPF</p>
             </div>
             <div class="text-end">
                <p class="mb-1"><strong>Contato:</strong> (21) 2141-7100</p>
                <p class="mb-1"><strong>Endereço:</strong> Rua Dr. Xavier Sigaud, 150 - 4o. Andar - Urca</p>
                <p class="mb-1"><strong></strong> Rio de Janeiro - RJ | CEP: 22290-180 - Brasil</p>
             </div>
        </div>
    </footer>